@font-face {
    font-family: 'monaco';
    /*src: url('/font/myscrawl-webfont.woff2') format('woff2'),*/
         /*url('/font/myscrawl-webfont.woff') format('woff');*/
    font-weight: normal;
    font-style: normal;
}
